<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Dressformer Widget Testing Page">
    <meta name="keywords" content="[[*keywords]]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dressformer webgl widget v </title>

    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css?v="/>
    <link rel="stylesheet" id="css_theme" href="/css/light.css?v=">

</head>
<body>

{{ yield }}

<script src="/js/viewport-webgl.js?v"></script>
</body>
</html>